/* Video embebido al 90% */
.tl-media-content iframe[src*="youtube"] {
  width: 225px !important;
  height: 400px !important; /* 9:16 exacto */
  object-fit: cover;
  background-color: black;
  margin: 0 auto !important;
  display: block !important;
}



/* Fondo estirado a lo ancho, sin deformar verticalmente */
.tl-slide {
  background-image: url('https://lahoradevenezuela.github.io/timeline-css/fondo-timeline-v2.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

/* Barra inferior más baja */
.tl-timenav {
  height: 80px !important;
  max-height: 80px !important;
}
